.containerComGifs {
  display: grid;
  grid-template-columns: repeat(2, 170px);
  gap: 1rem;
  justify-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 3rem 0;

  @media (min-width: 700px) {
    grid-template-columns: repeat(3, 200px);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 220px);
  }

  @media (min-width: 1300px) {
    grid-template-columns: repeat(5, 240px);
  }
}

.gifItem {
  display: flex;

  img,
  a {
    height: 170px;
    width: 170px;
  }

  @media (min-width: 700px) {
    img,
    a {
      height: 200px;
      width: 200px;
    }
  }

  @media (min-width: 1024px) {
    img,
    a {
      height: 220px;
      width: 220px;
    }
  }

  @media (min-width: 1300px) {
    img,
    a {
      height: 240px;
      width: 240px;
    }
  }
}

.containerSemGifs {
  align-items: center;
  background-color: #231f20;
  display: flex;
  justify-content: center;
  min-height: 400px;

  p {
    color: #d7df23;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    margin: 0;
  }

  @media (min-width: 768px) {
    min-height: 700px;

    p {
      font-size: 2.5rem;
    }
  }
}

.containerSearchInfo {
  border-bottom: 1px solid white;
  color: #d7df23;
  display: flex;
  justify-content: space-between;
  margin: 0 1rem 1rem;
  padding: 4rem 0 0.3rem;

  p {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    margin: 0;
  }

  span {
    color: #ff4d5a;
    font-weight: 600;
  }

  @media (min-width: 700px) {
    margin: 0 auto 1rem;
    width: calc(600px + 2rem);
  }

  @media (min-width: 1024px) {
    width: calc(880px + 3rem);
  }

  @media (min-width: 1300px) {
    width: calc(1200px + 4rem);
  }
}

.verMais {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;

  button {
    background-color: transparent;
    border: 1px solid #d7df23;
    color: #d7df23;
    cursor: pointer;
    height: 50px;
    width: 300px;

    &:hover {
      background-color: #d7df23;
      color: #231f20;
      transform: translateY(-7px);
      transition: 0.5s;
    }

    &:not(hover) {
      transition: 0.5s;
    }
  }

  a {
    color: inherit;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
  }
}
