.containerComGifs {
  display: grid;
  grid-template-columns: repeat(5, 270px);
  gap: 0.5rem;
  justify-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 3rem 0;
}

.gifItem {
  img, a {
    height: 270px;
    width: 270px;
  }
}

.containerSemGifs {
  align-items: center;
  background-color: #231f20;

  display: flex;
  justify-content: center;
  min-height: 700px;

  p {
    color: #d7df23;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    margin: 0;
  }
}
