.containerGifs {
  background-color: #231f20;
  color: #d7df23;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem 0;
  justify-items: center;
  min-height: 500px;
  padding: 2rem 0;

  img {
    height: 240px;
    width: 240px;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin: 0;
  }
}
