.containerSearch {
  align-items: center;
  background-color: #d7df23;
  color: #231f20;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem 0;

  h1 {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    margin: 0;
  }

  @media (min-width: 900px) {
  }
}

.search-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  input {
    border: 1px solid #231f20;
    border-radius: 8px;
    box-sizing: border-box;
    height: 45px;
    padding: 0 1rem;
    width: 300px;
  }

  @media (min-width: 600px) {
    input {
      width: 500px;
    }
  }

  @media (min-width: 900px) {
    input {
      width: 600px;
    }
  }
}

.searchButtons {
  display: flex;
  gap: 1rem;

  button {
    background-color: #231f20;
    border: 1px solid #231f20;
    color: #d7df23;
    cursor: pointer;
    font-size: 0.8rem;
    height: 40px;
    width: 120px;

    &:hover {
      background-color: #4e4e4e;
      border: 1px solid #4e4e4e;
    }

    &:last-of-type {
      background-color: #ff4d5a;
      color: #fff;

      &:hover {
        background-color: #ef5454;
        border: 1px solid #ef5454;
      }
    }
  }

  @media (min-width: 900px) {
    button {
      width: 120px;
    }
  }
}
