.containerSearch {
  align-items: center;
  background-color: #d7df23;
  color: #231f20;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem 0;

  h1 {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 2.2rem;
    margin: 0;
  }

  @media (min-width: 900px) {
  }
}

.search-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  input {
    border: 1px solid #231f20;
    border-radius: 8px;
    box-sizing: border-box;
    height: 40px;
    padding: 0 1rem;
    width: 300px;
  }

  @media (min-width: 600px) {
    input {
      width: 500px;
    }
  }

  @media (min-width: 900px) {
    input {
      width: 600px;
    }
  }
}

.botoes {
  display: flex;
  gap: 1.5rem;

  button {
    color: #fff;
    cursor: pointer;
    font-size: 0.8rem;
    height: 40px;
    overflow: hidden;
    position: relative;
    width: 120px;

    &:hover {
      background-color: transparent;
      transition: 0.7s;
    }

    &:not(hover) {
      transition: 1s;
    }
  }

  @media (min-width: 900px) {
    button {
      width: 180px;
    }
  }
}

.botaoUm {
  background-color: #231f20;
  border: 1px solid #231f20;

  &:hover {
    color: #231f20;
  }
}

.botaoDois {
  background-color: #ff4d5a;
  border: 1px solid #ff4d5a;

  &:hover {
    color: #ff4d5a;
  }
}
