.containerSearch {
  align-items: center;
  background-color: #d7df23;
  color: #231f20;
  display: flex;
  gap: 5rem;
  justify-content: center;
  padding: 2rem 0;

  h1 {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    margin: 0;
  }
}

.search-info {
  display: flex;

  input {
    border: 1px solid #231f20;
    height: 45px;
    padding: 0 1rem;
    width: 400px;
  }

  button {
    background-color: #231f20;
    border: 1px solid #231f20;
    color: #d7df23;
    cursor: pointer;
    font-size: 0.8rem;
    width: 100px;

    &:hover {
      background-color: #4e4e4e;
      border: 1px solid #4e4e4e;
    }
  }
}
